.sec_5 {
    background-image: url(../assets/img/bgdark.png) !important;
    background-size: cover !important;
    background-position:  !important;
    background-repeat: no-repeat !important;
    height: auto !important;
    .btn {
        margin: 20vmin !important;
        padding: 2.5vmin 8vmin;
    }
}