.grid_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6vmin;
    grid-template-rows: repeat(auto, 1fr);
}

.blog {
    &_title {
        display: flex;
        width: 100%;
        height: 230px;
        justify-content: center;
        align-items: center;
    }
    &_post {
        animation: fadeIn .5s ease;
    }
    &_view {
        width: 70%;
        max-height: auto;
    }
    &_article {
        padding: 15vmin 8vmin;
        pre {
            background-color: #00040D;
            color: #19f5c5;
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 850px) {
    .grid_list {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 650px) {
    .grid_list {
        grid-template-columns: 1fr;
    }
}
