.grid_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6vmin;
    grid-template-rows: repeat(auto, 1fr);
}

.blog {
    font-family: 'Montserrat';
    &_title {
        margin: 22vmin 0 12vmin 0;
        position: relative;
        h3 {
            text-align: center;
            font-weight: bold;
            font-size: 2em;
            &::before {
                content: "😁";
                position: absolute;
                left: -100px;
                width: 40px;
                font-size: 1.8em;
                height: 40px;
                top: -10px;
            }
            &::after {
                content: "😜";
                position: absolute;
                font-size: 1.8em;
                right: -30px;
                width: 10px;
                height: 10px;
                top: -10px;
            }
        }
    }
    &_post {
        animation: fadeIn .5s ease;
    }
    &_view {
        width: 100%;
        max-height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &_comments {
        width: 60%;
        margin: 8px 20%;
    }
    &_article {
        width: 80%;
        margin: 8vmin 10%;
        flex-direction: column;
        padding: 15vmin 8vmin;
        @for $i from 0 through 6 {
            h#{$i} {
                margin-bottom: 8vmin;
                text-align: center;
            }

        }
        pre {
            background-color: #00040D;
            color: #19f5c5;
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 850px) {
    .grid_list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 650px) {
    .grid_list {
        grid-template-columns: 1fr;
    }
}
