/* Color Theme Swatches in Hex */
$color-1: #100E40;
$color-2: #171559;
$color-3: #221F73;
$color-4: #0A0B26;
$color-5: #00040D;

/* Color Theme Swatches in RGBA */
$color-theme_sky-space-1-rgba: rgba(16,14,64, 1);
$color-theme_sky-space-2-rgba: rgba(23,21,89, 1);
$color-theme_sky-space-3-rgba: rgba(34,31,115, 1);
$color-theme_sky-space-4-rgba: rgba(10,11,38, 1);
$color-theme_sky-space-5-rgba: rgba(0,4,13, 1);

/* Color Theme Swatches in HSLA */
$color-theme_sky-space-1-hsla: hsla(242, 64, 15, 1);
$color-theme_sky-space-2-hsla: hsla(241, 61, 21, 1);
$color-theme_sky-space-3-hsla: hsla(242, 57, 28, 1);
$color-theme_sky-space-4-hsla: hsla(237, 58, 9, 1);
$color-theme_sky-space-5-hsla: hsla(221, 100, 2, 1);