nav {
  width: 100%;
  position: fixed;
  padding: 20px 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style: none;
}

nav ul li .link {
  display: block;
  float: right;
  font-size: 1em;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-weight: bold;
  text-align: center;
}

nav ul li .link:hover {
  color: #cccccc;
}

.logo {
  float: left;
  padding: 10px 10px;
  font-size: 2em;
}

.logo .link {
  text-decoration: none;
  color: #fff;
}

.wolf-icon {
  width: 50px;
  float: left;
  margin: 10px 10px;
}

.wolf-icon img {
  width: 100%;
}

.sticky {
  background-color: #fff;
  padding: 8px 20px;
  z-index: 9999;
}

.sticky .link {
  color: rgba(0, 0, 0, 0.8);
}

.sticky .logo {
  color: rgba(0, 0, 0, 0.8);
}

/* Color Theme Swatches in Hex */
/* gradients colors */
/* List of Vars */
.wave {
  width: 200%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: url(../assets/img/svgs/wave_2.svg);
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  background-repeat: repeat-x;
}

.wave_1 {
  -webkit-animation: aniwave1 50s infinite linear;
          animation: aniwave1 50s infinite linear;
  opacity: 1;
  z-index: 1000;
}

.wave_2 {
  -webkit-animation: aniwave1 45s infinite linear;
          animation: aniwave1 45s infinite linear;
  opacity: .5;
  z-index: 997;
}

.wave_3 {
  -webkit-animation: aniwave1 35s infinite linear;
          animation: aniwave1 35s infinite linear;
  opacity: .75;
  z-index: 998;
}

.wave_4 {
  opacity: .80;
  -webkit-animation: aniwave1 30s infinite linear;
          animation: aniwave1 30s infinite linear;
  z-index: 999;
}

/* background-color: #0A0B26; */
/* #221F73 */
@-webkit-keyframes aniwave1 {
  0% {
    -webkit-transform: translateX(0%) translateZ(0) scaleY(0.2);
            transform: translateX(0%) translateZ(0) scaleY(0.2);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.4);
            transform: translateX(-25%) translateZ(0) scaleY(0.4);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(0.5);
            transform: translateX(-50%) translateZ(0) scaleY(0.5);
  }
}
@keyframes aniwave1 {
  0% {
    -webkit-transform: translateX(0%) translateZ(0) scaleY(0.2);
            transform: translateX(0%) translateZ(0) scaleY(0.2);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.4);
            transform: translateX(-25%) translateZ(0) scaleY(0.4);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(0.5);
            transform: translateX(-50%) translateZ(0) scaleY(0.5);
  }
}

/* Color Theme Swatches in Hex */
/* gradients colors */
/* List of Vars */
.aboutMe {
  position: relative;
  font-family: 'Lobster';
}

.aboutMe .about {
  position: absolute;
  left: 145%;
  width: 700px;
  text-align: center;
}

.aboutMe .about h3 {
  padding: 8vmin 4vmin;
  font-size: 2.2em;
}

.aboutMe .about p {
  text-align: left;
  line-height: 35px;
  font-size: 1.2em;
}

.aboutMe .personal_data {
  width: 300px;
  margin-top: 4vmin;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.aboutMe .personal_data h5 {
  font-size: 1.4em;
}

.aboutMe .personal_data a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 0, 0, 0.8);
}

.aboutMe .personal_data a .icon {
  margin: 0 10px;
}

.aboutMe .profile {
  width: 300px;
  position: absolute;
  top: 40px;
  left: 12%;
}

.aboutMe .profile img {
  width: 100%;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

section:nth-of-type(1) {
  background: #fff url(../assets/img/sky-space.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section:nth-of-type(1) .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section:nth-of-type(1) .hero h1 {
  color: #fff;
  font-size: 4em;
}

section:nth-of-type(1) .hero p {
  color: #fff;
  text-align: center;
  font-size: 2em;
}

section:nth-of-type(3) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section:nth-of-type(3) .subtitle-2 {
  position: absolute;
  top: 0;
  text-align: center;
  left: 40%;
  font-size: 2em;
}

section:nth-of-type(4) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1e1e1e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section:nth-of-type(4) .subtitle-3 {
  position: absolute;
  top: 40px;
  text-align: center;
  left: 45%;
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
}

section:nth-of-type(4) .skillBars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.625em 20vmin;
}

section:nth-of-type(4) .skillBars .skills {
  padding: 10px 40px;
  width: 500px;
  max-height: auto;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section:nth-of-type(4) .skillBars .skills .html-span {
  position: absolute;
  right: -15px;
  top: -10px;
  font-size: 3em;
  color: brown;
  font-weight: bold;
}

section:nth-of-type(4) .skillBars .skills .percent {
  position: relative;
  width: 70%;
  height: 50px;
  margin-left: 2vmin;
  border-radius: 20px;
  background-color: #ddd;
}

section:nth-of-type(4) .skillBars .html-icon {
  color: brown;
  font-size: 4em;
  position: absolute;
  left: 0;
}

section:nth-of-type(4) .skillBars .html-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#f12711), to(#f5af19));
  background: linear-gradient(to right, #f12711, #f5af19);
  -webkit-animation: bars 3s ease-in-out;
          animation: bars 3s ease-in-out;
}

section:nth-of-type(4) .skillBars .skills {
  padding: 10px 40px;
  width: 500px;
  max-height: auto;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section:nth-of-type(4) .skillBars .skills .css-span {
  position: absolute;
  right: -15px;
  top: -10px;
  font-size: 3em;
  color: blue;
  font-weight: bold;
}

section:nth-of-type(4) .skillBars .skills .percent {
  position: relative;
  width: 70%;
  height: 50px;
  margin-left: 2vmin;
  border-radius: 20px;
  background-color: #ddd;
}

section:nth-of-type(4) .skillBars .css-icon {
  color: blue;
  font-size: 4em;
  position: absolute;
  left: 0;
}

section:nth-of-type(4) .skillBars .css-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#084be6), to(#0bd7fb));
  background: linear-gradient(to right, #084be6, #0bd7fb);
  -webkit-animation: bars 3s ease-in-out;
          animation: bars 3s ease-in-out;
}

section:nth-of-type(4) .skillBars .skills {
  padding: 10px 40px;
  width: 500px;
  max-height: auto;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section:nth-of-type(4) .skillBars .skills .js-span {
  position: absolute;
  right: -15px;
  top: -10px;
  font-size: 3em;
  color: rgba(245, 241, 46, 0.794);
  font-weight: bold;
}

section:nth-of-type(4) .skillBars .skills .percent {
  position: relative;
  width: 70%;
  height: 50px;
  margin-left: 2vmin;
  border-radius: 20px;
  background-color: #ddd;
}

section:nth-of-type(4) .skillBars .js-icon {
  color: rgba(245, 241, 46, 0.794);
  font-size: 4em;
  position: absolute;
  left: 0;
}

section:nth-of-type(4) .skillBars .js-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#a0fb0d), to(#f4f803));
  background: linear-gradient(to left, #a0fb0d, #f4f803);
  -webkit-animation: bars 3s ease-in-out;
          animation: bars 3s ease-in-out;
}

section:nth-of-type(4) .skillBars .skills {
  padding: 10px 40px;
  width: 500px;
  max-height: auto;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section:nth-of-type(4) .skillBars .skills .react-span {
  position: absolute;
  right: -15px;
  top: -10px;
  font-size: 3em;
  color: #07e9f1;
  font-weight: bold;
}

section:nth-of-type(4) .skillBars .skills .percent {
  position: relative;
  width: 70%;
  height: 50px;
  margin-left: 2vmin;
  border-radius: 20px;
  background-color: #ddd;
}

section:nth-of-type(4) .skillBars .react-icon {
  color: #07e9f1;
  font-size: 4em;
  position: absolute;
  left: 0;
}

section:nth-of-type(4) .skillBars .react-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#11d7f1), to(#19f5c5));
  background: linear-gradient(to right, #11d7f1, #19f5c5);
  -webkit-animation: bars 3s ease-in-out;
          animation: bars 3s ease-in-out;
}

section:nth-of-type(4) .skillBars .skills {
  padding: 10px 40px;
  width: 500px;
  max-height: auto;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section:nth-of-type(4) .skillBars .skills .php-span {
  position: absolute;
  right: -15px;
  top: -10px;
  font-size: 3em;
  color: #333399;
  font-weight: bold;
}

section:nth-of-type(4) .skillBars .skills .percent {
  position: relative;
  width: 70%;
  height: 50px;
  margin-left: 2vmin;
  border-radius: 20px;
  background-color: #ddd;
}

section:nth-of-type(4) .skillBars .php-icon {
  color: #333399;
  font-size: 4em;
  position: absolute;
  left: 0;
}

section:nth-of-type(4) .skillBars .php-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#ff00cc), to(#333399));
  background: linear-gradient(to left, #ff00cc, #333399);
  -webkit-animation: bars 3s ease-in-out;
          animation: bars 3s ease-in-out;
}

section:nth-of-type(4) .skillBars .skills {
  padding: 10px 40px;
  width: 500px;
  max-height: auto;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section:nth-of-type(4) .skillBars .skills .nodeJs-span {
  position: absolute;
  right: -15px;
  top: -10px;
  font-size: 3em;
  color: #00f260;
  font-weight: bold;
}

section:nth-of-type(4) .skillBars .skills .percent {
  position: relative;
  width: 70%;
  height: 50px;
  margin-left: 2vmin;
  border-radius: 20px;
  background-color: #ddd;
}

section:nth-of-type(4) .skillBars .nodeJs-icon {
  color: #00f260;
  font-size: 4em;
  position: absolute;
  left: 0;
}

section:nth-of-type(4) .skillBars .nodeJs-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#00f260), to(#0575e6));
  background: linear-gradient(to left, #00f260, #0575e6);
  -webkit-animation: bars 3s ease-in-out;
          animation: bars 3s ease-in-out;
}

@-webkit-keyframes bars {
  from {
    width: 0%;
  }
}

@keyframes bars {
  from {
    width: 0%;
  }
}
/*# sourceMappingURL=index.css.map */