@import "./navbar";
@import "./vars";
@import "./wave";
@import "./mixims";
@import "./skill_bars";

* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
}

.aboutMe {
    position: relative;
    .about {
        position: absolute;
       left: 145%;
       width: 700px;
       text-align: center;
       h3 {
           padding: 8vmin 4vmin;
           font-size: 2.2em;
       }
       p {
           text-align: left;
           line-height: 35px;
           font-size: 1.2em;
       }
    }
    .profile {
        width: 300px;
        position: absolute;
        top: 40px;
        left: 12%;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
}

section {
    height: 100vh;
    width: 100%;
}



section:nth-of-type(1) {
    background: #fff url(../assets/img/sky-space.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        h1 {
            color: #fff;
            font-size: 4em;
        }
        p {
            color: #fff;
            text-align: center;
            font-size: 2em;
        }
    }
}

section:nth-of-type(3) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .subtitle-2 {
        position: absolute;
        top: 0;
        text-align: center;
        left: 40%;
        font-size: 2em;
    }
}

section:nth-of-type(4) {
    position: relative;
    display: flex;
    height: 200vh !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .subtitle-3 {
        position: absolute;
        top: 0;
        text-align: center;
        left: 45%;
        font-size: 2em;
    }

    @include skills(html, brown, $html-bar);
    @include skills(css, blue, $css-bar);
    @include skills(js, rgba(245, 241, 46, 0.794), $js-bar);
    @include skills(react, rgb(7, 233, 241), $react-bar);
    @include skills(php, #333399, $php-bar);
    @include skills(nodeJs, #00f260, $nodeJs-bar);

}

@keyframes bars {
    from { width: 0%;}
}


