@import "./index.module.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@for $i from 0 through 6 {
    h#{$i} {
        font-family: 'Poppins';
    }
}

body, html {
    overflow-x: hidden;
}


section {
    height: 100vh;
    width: 100%;
    overflow: hidden !important;
}



.sec_1 {
    background: url(../assets/img/PersonSky.jpg);
    background-position: 0 -100px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        h1 {
            color: #fff;
            font-size: 4em;
            font-weight: 900;
        }
        p {
            color: #fff;
            text-align: center;
        font-size: 2em;
    }
    }
}

section:nth-of-type(3) {
    position: relative;
    display: flex;
    background: #1e1e1e;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .subtitle-3 {
        position: absolute;
        top: 40px;
        text-align: center;
        left: 45%;
        font-size: 2.5em;
        font-weight: 700;
        color: #fff;
    }

    .skillBars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.625em 20vmin;
       
        @each $name, $color, $bg, $percent in $colors{
            @include skills($name, $color, $bg);
            @include icons($color, $name);
            @include progress($bg, $name, $percent);
        } 

     
    }

}


/* .my_projects {
    background: url(../assets/img/sky-space.jpg);
    background-size: cover;
} */

@keyframes bars {
    from { width: 0%;}
}

@media screen and (max-width: 780px) {
    body, html {
        overflow-x: hidden !important;
    }

    .my_card {
        font-size: 13px;
    }
}

@media screen and (max-width: 550px) {
    .post {
        &_list {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }
    .my_card {
        font-size: 10px;
        margin-bottom: 4vmin;
    }
    .project_list {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

